# precompiled python
*.pyc

# compiled object file
*.o

# no binaries
*.exe

# rgbds extras
*.sym
*.map

# swap files for vim
.*.swp

# for vim configuration
# url: http://www.vim.org/scripts/script.php?script_id=441
.lvimrc

# converted image data
*.1bpp
*.2bpp

# converted audio data
*.pcm
